<!-- Unlock Screen -->
<div id="unlockScreen">
  <div class="gradient-bg"></div>

  <!-- Logo -->
  <img src="/logo.png" class="lockscreen-logo" alt="CI Logo" />

  <!-- Clouds -->
  <img src="/cloud1.svg" class="cloud cloud-left" alt="Cloud 1" />
  <img src="/cloud1.svg" class="cloud cloud-left" alt="Cloud 1-2" />
  <img src="/cloud1.svg" class="cloud cloud-left" alt="Cloud 1-3" />
  <img src="/cloud2.svg" class="cloud cloud-left" alt="Cloud 2" />
  <img src="/cloud2.svg" class="cloud cloud-left" alt="Cloud 2-2" />
  <img src="/cloud2.svg" class="cloud cloud-right" alt="Cloud 2-3" />
  <img src="/cloud3.svg" class="cloud cloud-right" alt="Cloud 3" />
  <img src="/cloud3.svg" class="cloud cloud-right" alt="Cloud 3-2" />
  <img src="/cloud3.svg" class="cloud cloud-right" alt="Cloud 3-3" />

  <!-- Slider -->
  <div class="slider-container">
    <div class="slider-track"></div>
    <div class="slider-handle" id="slider"></div>
    <div class="slider-text" id="sliderText">Swipe to Unlock your Data</div>
  </div>
</div>

